<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talk.dao.CallInfoDao">
	<sql id="findCallInfo">
		select * from table_callInfo order by startTime desc
	</sql>
	<!-- 分页sql基本代码 -->
	<sql id="pageSql">
		from table_callInfo order by startTime desc
	</sql>
	<!-- 具体的分页语句 -->
	<select id="getPageCallInfo" resultMap="callInfoBaseResultMap">
		<trim prefix="select * " suffix="limit">
			<include refid="pageSql"/>
		</trim>
		#{pageModel.startRow},#{pageModel.pageSize}
	</select>
	<!-- 统计需要分页的行数 -->
	<select id="count" resultType="int">
		select count(*) <include refid="pageSql"/>
	</select>
	
	<!-- 查询全部短信记录 -->
	<select id="getCallInfo" resultMap="callInfoBaseResultMap">
			<include refid="findCallInfo"/>
	</select>
	
	<!-- 系统参数更新 -->
	<delete id="delete">
		delete from table_callInfo where id=#{id}
	</delete>

	<!-- 定义ResultMap -->
	<resultMap id="callInfoBaseResultMap" type="com.talk.dto.CallInfo" autoMapping="true">
		<!-- 定义列和java对象属性的对应关系 -->
		<result column="id" property="id"/>
		<result column="callId" property="callId"/>
		<result column="calledId" property="calledId"/>
		<result column="pttId" property="pttId"/>
		<result column="callStatus" property="callStatus"/>
		<result column="callType" property="callType"/>
		<result column="startTime" property="startTime"/>
		<result column="endTime" property="endTime"/>
		<result column="endReason" property="endReason"/>
		<result column="filePath" property="filePath"/>
	</resultMap>
</mapper>